.temp
compile.log
compile-errors.log
/ext/**/*.zep.*
/ext/zhandlersocket/*
/ext/zhandlersocket.*
/ext/.libs/zhandlersocket.*
/ext/modules/zhandlersocket.*
/ext/php_zhandlersocket.h
/ext/kernel/.libs
/ext/config.status
/ext/kernel/extended/.libs
/ext/autom4te.cache
.idea